.trainers__block {
  margin-top: 60px;
}

.mens__collection {
  background: url("../../../../assets/img/mens_collection.png");
  max-width: 440px;
  height: 384px;
  flex: 1 1;
}

.unisex__collection {
  background: url("../../../../assets/img/unisex_collection.png");
  max-width: 760px;
  height: 384px;
  flex: 1 1;
  position: relative;
  left: -2px;
}

.womens__collection {
  background: url("../../../../assets/img/womens_collection.png");
  max-width: 761px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
}

.lifestyle__collection {
  background: url("../../../../assets/img/lifestyle_collection.png");
  max-width: 442px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
  left: -2px;
}

@media screen and (max-width: 320px) {
  .mens__collection, .womens__collection, .unisex__collection, .lifestyle__collection {
    max-width: 320px;
  }

  .mens__collection {
    background-position-x: 100%;
  }

  .womens__collection {
    background-position-x: 75%;
  }

  .unisex__collection {
    background-position-x: 45%;
  }

  .lifestyle__collection {
    background-position-x: 60%;
  }
}
@media screen and (max-width: 678px) {
  .type__collection {
    max-width: 440px;
  }

  .unisex__collection, .lifestyle__collection {
    left: 0;
  }

  .trainers__block {
    margin: 60px auto 0;
    max-width: 440px;
  }
}