.trainers__block {
  margin-top: 60px;
}

.mens__collection {
  background: url("../../../../assets/img/mens_collection.png");
  max-width: 440px;
  height: 384px;
  flex: 1 1;
}

.unisex__collection {
  background: url("../../../../assets/img/unisex_collection.png");
  max-width: 760px;
  height: 384px;
  flex: 1 1;
  position: relative;
  left: -2px;
}

.womens__collection {
  background: url("../../../../assets/img/womens_collection.png");
  max-width: 761px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
}

.lifestyle__collection {
  background: url("../../../../assets/img/lifestyle_collection.png");
  max-width: 442px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
  left: -2px;
}

@media screen and (max-width: 320px) {
  .mens__collection, .womens__collection, .unisex__collection, .lifestyle__collection {
    max-width: 320px;
  }

  .mens__collection {
    background-position-x: 100%;
  }

  .womens__collection {
    background-position-x: 75%;
  }

  .unisex__collection {
    background-position-x: 45%;
  }

  .lifestyle__collection {
    background-position-x: 60%;
  }
}
@media screen and (max-width: 678px) {
  .type__collection {
    max-width: 440px;
  }

  .unisex__collection, .lifestyle__collection {
    left: 0;
  }

  .trainers__block {
    margin: 60px auto 0;
    max-width: 440px;
  }
}









.catalogue__collection {
  text-align: left;
  padding: 120px 0 0 52px;
  font-size: 16px;
}

.catalogue__title, .catalogue__intro {
  font-size: 42px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .catalogue__title, .catalogue__intro {
    font-size: 31.5px;
  }

  .catalogue__collection {
    padding: 90px 0 0 52px;
  }
}







.view__all {
  border-radius: 30px;
  background-color: #F43A55;
  max-width: 170px;
  height: 55px;
  position: relative;
  margin-top: 20px;
}

.view__all span {
  color: #4D4B4B;
  background-color: #fff;
  padding: 18px 28px;
  border-radius: 30px;
  font-size: 1rem;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 320px) {
  .view__all {
    max-width: 200px;
  }
}









.dots {
  max-width: 100px;
  margin: 52px auto 0;
  display: flex;
  align-items: center;
}

.dot {
  border-radius: 50%;
  background-color: #858585;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
}

.selected-dot {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #F43A55;
}