.products {
  background: #fff;
  padding-top: 56px;
}

.popular__title {
  font-size: 42px;
}








.new__title {
  font-size: 28px;
  color: #F43A55;
  margin-left: 1rem;
}

.products__block {
  max-width: 100%;
  margin-top: 1rem;
}

.product__img {
  width: 400px;
  height: 340px;
  background-size: cover;
}

.product__first-img {
  background-image: url("../../../assets/img/grey-trainers.png");
}

.product__second-img {
  background-image: url("../../../assets/img/black-trainers.png");
}

.product__third-img {
  background-image: url("../../../assets/img/white-trainers.png");
}

@media screen and (max-width: 480px) {
  .products__block {
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .product {
    max-width: 320px;
  }

  .product__img {
    width: 320px;
  }

  .product__first-img, .product__second-img, .product__third-img {
    background-position-x: -40px;
  }
}









.product__evaluation {
  max-width: 250px;
  margin: 0 auto;
}

.evaluation__title {
  font-size: 22px;
  color: #282422;
}

.main__price {
  font-size: 25px;
  color: #F43A55;
}

.product__price {
  margin-top: 1rem;
}

.line-through {
  font-size: 17px;
  text-decoration: line-through;
  color: #939190;
  margin-left: 0.5rem;
}

.products .action__button {
  width: 150px;
}

@media screen and (max-width: 320px) {
  .product__evaluation {
    max-width: 200px;
  }
}









.product__info {
  padding-top: 6em;
  max-width: 75em;
  position: relative;
  height: 43.75em;
  margin: 0 auto;
}

.product__chart {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

.trainers__effect {
  position: absolute;
  max-width: 55.0625em;
}

.total__price {
  font-size: 7.38375em;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 480px) {
  .product__info {
    font-size: 6.25px;
  }
}
@media screen and (max-width: 320px) {
  .product__info {
    padding-top: 9em;
    font-size: 3.75px;
  }
}









.mixed-block {
  position: absolute;
  max-width: 3.4375em;
  right: 2em;
  top: 8em;
}

.mixed-word {
  font-size: 1em;
}

.color-dots {
  width: 0.6875em;
  margin: 0 auto;
}

.color-dot {
  width: 0.6875em;
  height: 0.6875em;
  border-radius: 50%;
  margin: 1em 0 1em 0;
}

.first-dot {
  background-color: #207EBA;
}

.second-dot {
  background-color: #F43C57;
}

.third-dot {
  background-color: #E2D9D4;
}

@media screen and (max-width: 480px) {
  .mixed-block {
    top: 8em;
    right: 0;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .mixed-block {
    top: 8em;
    right: 0;
    font-size: 8px;
  }
}










.destination__area {
  width: 18em;
  height: 18em;
  background-color: #26337c13;
  border-radius: 50%;
  position: absolute;
  bottom: 28%;
  right: 18.7%;
}

.destination__circle {
  width: 9.6875em;
  height: 9.6875em;
  background-color: #F43C57;
  border-radius: 50%;
}

.destination__distance {
  font-size: 1.25em;
  display: flex;
  align-items: center;
}

.destination__number {
  font-size: 1.5em;
}

.running__logo {
  width: 2.625em;
}

.km7 {
  position: absolute;
  bottom: 17%;
  left: 25.5%;
  transform: translate(-17%, -25.5%);
  font-size: 1.25em;
}

.km15 {
  position: absolute;
  bottom: 13%;
  left: 47%;
  transform: translate(-13%, -47%);
  font-size: 1.25em;
}

.nike-pop {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 1.58984375em;
  transform: translate(-5%, -5%);
  display: flex;
  align-items: center;
}

.rarr {
  margin-left: 1em;
}

@media screen and (max-width: 480px) {
  .km7, .km15, .nike-pop {
    font-size: 16px;
  }

  .km15 {
    bottom: 10%;
    left: 47%;
    transform: translate(-10%, -47%);
  }

  .destination__number {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .km7, .km15, .nike-pop {
    font-size: 12px;
  }

  .km15 {
    bottom: 10%;
    left: 47%;
    transform: translate(-10%, -47%);
  }

  .destination__number {
    font-size: 16px;
  }

  .km {
    display: none;
  }

  .nike-pop {
    right: 0;
  }

  .destination__area {
    bottom: 26%;
    right: 18.7%;
  }
}