.header__menu-present {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .header__menu {
    background: #000000;
    border-bottom: 10px solid #fff;
    padding: 22px 0;
  }
  
  @media screen and (max-width: 1230px) {
    .header__menu {
      padding: 22px 1rem;
    }
  }
  @media screen and (max-width: 1100px) {
    .header__menu-present {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 788px) {
    .header__menu {
      padding-bottom: 11px;
    }
  }
  @media screen and (max-width: 788px) {
    .header__menu {
      border-bottom: 2px solid #fff;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  .header__menu-logo {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .nike_intro {
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: "Copperplate_Gothic_Bold";
    position: absolute;
    left: 125px;
    bottom: 0;
  }
  
  @media screen and (max-width: 1092px) {
    .header__menu-logo {
      width: 223px;
    }
  }
  @media screen and (max-width: 832px) {
    .header__menu-logo {
      display: none;
    }
  }
  
  
  
  
  
  
  
  
  .header__search-bar {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
  }
  
  .header__search-category {
    padding: 13px 11px 14px;
    font-family: "Gotham Book";
  }
  
  .header__search-input {
    width: 375px;
    height: 40px;
    padding-left: 0.7rem;
    font-family: "Gotham Book";
  }
  
  .header__search-button {
    background-color: #F5535E;
    color: #fff;
    border: none;
    padding: 0.4rem 0.6rem;
  }
  
  .fa.fa-search {
    font-size: 2rem;
  }
  
  @media screen and (max-width: 812px) {
    .header__search-bar {
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 606px) {
    .header__search-input {
      width: 340px;
    }
  }
  @media screen and (max-width: 573px) {
    .header__search-input {
      width: 325px;
    }
  }
  @media screen and (max-width: 570px) {
    .header__search-input {
      width: 310px;
    }
  }
  @media screen and (max-width: 540px) {
    .header__search-input {
      width: 280px;
    }
  }
  @media screen and (max-width: 513px) {
    .header__search-input {
      width: 250px;
    }
  }
  @media screen and (max-width: 480px) {
    .header__search-input {
      width: 220px;
    }
  }
  @media screen and (max-width: 452px) {
    .header__search-input {
      width: 220px;
    }
  }
  @media screen and (max-width: 506px) {
    .header__search-category {
      flex: 1 1 100%;
    }
  
    .header__search-input {
      flex: 1;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .header__shopping-report {
    background: #717171;
    color: white;
    max-width: 170px;
    font-family: "Gotham Book";
    text-align: center;
    padding: 0.3rem 1rem;
    margin-left: 4.5rem;
  }
  
  .shopping-report, .shopping-card {
    margin: 0;
  }
  
  @media screen and (max-width: 1230px) {
    .header__shopping-report {
      margin-left: 1rem;
    }
  }
  @media screen and (max-width: 1108px) {
    .header__shopping-report {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 1004px) {
    .header__shopping-report {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: 832px) {
    .header__shopping-report {
      margin-left: 2rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 812px) {
    .header__shopping-report {
      margin-left: 0.5rem;
    }
  }
  @media screen and (max-width: 788px) {
    .header__shopping-report {
      margin-top: 1rem;
    }
  }
  @media screen and (max-width: 426px) {
    .header__shopping-report {
      max-width: 404px;
      display: flex;
      margin: 1rem auto 0;
    }
  
    .shopping-report {
      margin-left: 0.5rem;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  .header__navbar {
    max-width: 100%;
    margin-left: auto;
  }
  
  .header__nav-link {
    margin-left: 34px;
    background: #000;
    color: #fff;
    border: none;
    width: 89px;
  }
  .header__nav-link:hover {
    color: #FD7587;
  }
  
  @media screen and (max-width: 962px) {
    .header__nav-link {
      margin-top: 0.5rem;
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 788px) {
    .header__navbar {
      margin-top: 0.125rem;
      max-width: 514px;
      margin-left: 0;
    }
  }
  @media screen and (max-width: 726px) {
    .header__navbar {
      max-width: 484px;
    }
  }
  @media screen and (max-width: 696px) {
    .header__navbar {
      max-width: 434px;
    }
  }
  @media screen and (max-width: 666px) {
    .header__navbar {
      max-width: 364px;
    }
  }
  @media screen and (max-width: 576px) {
    .header__navbar {
      max-width: 314px;
    }
  }
  @media screen and (max-width: 566px) {
    .header__navbar {
      max-width: 314px;
    }
  }
  @media screen and (max-width: 526px) {
    .header__navbar {
      max-width: 294px;
    }
  }
  @media screen and (max-width: 506px) {
    .header__navbar {
      max-width: 214px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 426px) {
    .header__navbar {
      max-width: 434px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  .header__background_crimson {
    background: linear-gradient(90deg, #6F202D, #C62030);
  }
  
  .header__banner {
    background-image: url("../../assets/img/shoes_banner.png");
    background-repeat: no-repeat;
  }
  
  .header__section {
    padding-top: 33rem;
    max-width: 745px;
    color: white;
    padding-bottom: 3em;
    font-size: 16px;
  }
  
  .header__title {
    font-size: 4rem;
    font-family: "Gotham_Bold";
    margin: 1rem 0;
    line-height: 4rem;
  }
  
  .header__intro {
    font-size: 30px;
    font-family: "Gotham_Bold";
    margin: 1em 0;
  }
  
  .header__text {
    font-size: 1.125em;
    font-family: "Gotham Book";
  }
  
  @media screen and (max-width: 320px) {
    .header__section {
      padding: 8rem 1rem 1rem;
      font-size: 16px;
    }
  
    .header__banner {
      background-size: 150% auto;
      background-position-x: -85px;
    }
  
    .header__title {
      font-size: 2rem;
      line-height: 2rem;
    }
  
    .header__intro {
      font-size: 1rem;
    }
  
    .header__text {
      padding-top: 1rem;
    }
  }