.footer__title_color {
    font-size: 1.125rem;
    color: #F43C57;
    padding-bottom: 1rem;
  }
  
  .footer__section {
    padding-top: 90px;
    width: 200px;
  }
  
  .footer__list {
    list-style-type: none;
  }
  
  .footer__item {
    line-height: 2rem;
  }
  
  .footer__logo_link {
    margin-right: 1rem;
    font-size: 1.25rem;
  }
  
  .fa.fa-phone, .fa.fa-map-marker, .fa.fa-envelope {
    color: #F43C57;
  }


  @media screen and (max-width: 480px) {
    .footer__section {
      padding-top: 22.5px;
    }
  }